[Unit]
Description=Beer Game Blockchain Demonstrator WebApp
After=network.target beergame-api.service

[Service]
WorkingDirectory=/root/blockchain-demonstrator-serious-game/publish/webapp
ExecStart=/usr/bin/dotnet /root/blockchain-demonstrator-serious-game/publish/webapp/BlockchainDemonstratorWebApp.dll localhost:5002
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=beergame-webapp
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=CLR_ICU_VERSION_OVERRIDE=70
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
