[Unit]
Description=Beer Game Blockchain Demonstrator API
After=network.target mssql-server.service

[Service]
WorkingDirectory=/root/blockchain-demonstrator-serious-game/publish/api
ExecStart=/usr/bin/dotnet /root/blockchain-demonstrator-serious-game/publish/api/BlockchainDemonstratorApi.dll YOUR_SERVER_IP_HERE
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=beergame-api
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=CLR_ICU_VERSION_OVERRIDE=70
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
